body {
  background: #cadaea url(bg.jpg) no-repeat center top;
  font-family: "Poly", "Times New Roman", serif
}

#content-container {
  margin: auto;
  padding: 50px;
  width: 600px;
}

#content-container h1 {
  color: #879eb6;
  font-size: 48px;
  margin: 15px;
  text-align: center;
  text-shadow: 0px 3px 2px #fff;
}

#content-container h3 {
  color: #879eb6;
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
  text-align: center;
}

.input-container {
  float: left;
  padding: 20px 0px;
}

.input-container.last {
  float: right;
}

.input-container .example {
  color: #cadaea;
  font-size: 12px;
  font-style: italic;
  margin: 0px 0px 2px 0px;
}

.input-container input {
  border: 2px solid #bdcad7;
  border-radius: 3px;
  color: #879eb6;
  font-size: 28px;
  padding: 10px;
  width: 230px;
}

#result-container {
  color: #879eb6;
  float: left;
  width: 100%;
}

#result-container .time-container {
  float: left;
  text-align: center;
  width: 230px;
}

#result-container .time-container .time {
  font-size: 36px;
  margin-bottom: 5px;
}

#result-container .time-container .location {
  font-size: 14px;
}

#result-container .offset-container {
  float: left;
  margin:  8px 0px;
  text-align: center;
  width: 140px;
}
